.header{
    padding:32px 0 32px;
    &-container {
        max-width: 1130px;
        margin: auto;
        padding: 0 15px;
        background-color: transparent;
        position: relative;
        z-index: 2;
    }
    &-wrap{
        display: flex;
        justify-content: space-between;
    }
    &-logo{
        &-link{
            display: flex;
            align-items: center;
        }
        &-image{
            margin-right: 10px;
        }
        &-text{
            display: flex;
            font-size: 20px;
            color: #000000;
            & span{
                font-weight: 600;
            }
        }
    }
    &-search{
        width: 166px;
        border: 0px;
        background-color: #F4F4F5;
        line-height: 36px;
        padding-left: 16px;
        font-family: 'Inter',serif;
        font-size: 14px;
        font-weight: 400;
        &-wrap{
            position: relative;
        }
        &-svgMagnifier{
            position: absolute;
            right: 10px;
            bottom: 13px;
        }
    }
}